2.**Data Exploration:**
Create and manipulate Lists, Tuples, Dictionaries, and Sets.
Use indexing and slicing to access elements.
Perform operations like adding, removing, and updating elements.


Purpose:
Learn to store, access, and modify data using Python's 4 main data structures.

What You Learn:
1. Create & Manipulate = Build data containers and change their contents
2. Indexing & Slicing = Get specific items or portions from data

Index: Access single element (data[0])
Slice: Extract multiple elements (data[1:4])

3. Operations = Add, remove, update data

Add: Put new items in
Remove: Delete items
Update: Change existing items


Why Each Structure:

List: When order matters, need to change data
Tuple: When order matters, data stays fixed
Dictionary: When you need name-value pairs (like a phonebook)
Set: When yo

In [6]:
#Real-World Example:


shopping_list = ["milk", "eggs"]
coordinates = (10, 20)
contacts = {"John": "123-4567"}
unique_ids = {101, 102, 103}

 # List - can add/remove items
 # Tuple - fixed location
 # Dictionary - name to number
 # Set - no duplicate IDs

In [7]:
# 1: Create and Manipulate a List

my_list = [10, 20, 30, 40, 50]
print("Original list:", my_list)

Original list: [10, 20, 30, 40, 50]

In [8]:
#1.2: Add Elements



my_list.append(60)
print("After append:", my_list)


my_list.insert(2, 25)
print("After insert at index 2:", my_list)

After append: [10, 20, 30, 40, 50, 60]
After insert at index 2: [10, 20, 25, 30, 40, 50, 60]

In [10]:
#1.3: Remove Elements

my_list = [10, 20, 25, 30, 40, 50, 60]


my_list.remove(25)
print("After remove:", my_list)



my_list.pop()  # removes last
print("After pop:", my_list)


my_list.pop(1)  # removes index 1
print("After pop(1):", my_list)

After remove: [10, 20, 30, 40, 50, 60]
After pop: [10, 20, 30, 40, 50]
After pop(1): [10, 30, 40, 50]

In [11]:
#1.4: Update Elements


my_list[0] = 15
print("After updating index 0:", my_list)
my_list[2] = 45
print("After updating index 2:", my_list)

After updating index 0: [15, 30, 40, 50]
After updating index 2: [15, 30, 45, 50]

In [12]:
#2.Create and Manipulate Tuples

my_tuple = (10, 20, 30, 40, 50)
print("Original tuple:", my_tuple)

Original tuple: (10, 20, 30, 40, 50)

In [13]:
#2.1: Access Elements


print("First:", my_tuple[0])
print("Last:", my_tuple[-1])
print("Third:", my_tuple[2])

First: 10
Last: 50
Third: 30

In [14]:
#2.3: Slicing

print("First 3:", my_tuple[:3])
print("Last 2:", my_tuple[-2:])
print("Middle:", my_tuple[1:4])

First 3: (10, 20, 30)
Last 2: (40, 50)
Middle: (20, 30, 40)

In [15]:
#2.4: Immutability - Cannot Change



print("Tuples cannot be changed after creation")

Tuples cannot be changed after creation

In [16]:
#2.5: Tuple Unpacking


a, b, c, d, e = my_tuple
print("a:", a)
print("b:", b)
print("c:", c)

first, *rest = my_tuple
print("First:", first)
print("Rest:", rest)

a: 10
b: 20
c: 30
First: 10
Rest: [20, 30, 40, 50]

In [17]:
#2.6: Concatenation


tuple_a = (1, 2, 3)
tuple_b = (4, 5, 6)

combined = tuple_a + tuple_b
print("Combined:", combined)
Output: (1, 2, 3, 4, 5, 6)

Combined: (1, 2, 3, 4, 5, 6)

In [18]:
# 3 Create and Manipulate Dictionaries
#Step 1: Create a Dictionary


my_dict = {"name": "Alice", "age": 22, "city": "Lagos"}
print("Original:", my_dict)

Original: {'name': 'Alice', 'age': 22, 'city': 'Lagos'}

In [19]:
#3.1: Access Elements


print("Name:", my_dict["name"])           # Alice
print("Age:", my_dict["age"])             # 22
print("City:", my_dict.get("city"))       # Lagos
print("Missing:", my_dict.get("grade", "Not Found"))  # Not Found

Name: Alice
Age: 22
City: Lagos
Missing: Not Found

In [20]:
# 3.2 Step 3: Add Key-Value Pairs


my_dict["grade"] = "A"
my_dict["subject"] = "Math"
print("After adding:", my_dict)

After adding: {'name': 'Alice', 'age': 22, 'city': 'Lagos', 'grade': 'A', 'subject': 'Math'}

In [21]:
# 3.3: Update Values


my_dict["age"] = 23
my_dict["city"] = "Abuja"
print("After updating:", my_dict)



my_dict.update({"grade": "A+", "city": "Lagos"})
print("After update():", my_dict)

After updating: {'name': 'Alice', 'age': 23, 'city': 'Abuja', 'grade': 'A', 'subject': 'Math'}
After update(): {'name': 'Alice', 'age': 23, 'city': 'Lagos', 'grade': 'A+', 'subject': 'Math'}

In [22]:
# 3.4: Remove Key-Value Pairs

# Re-initializing my_dict to its expected state for this step
my_dict = {'name': 'Alice', 'age': 23, 'city': 'Lagos', 'grade': 'A+', 'subject': 'Math'}


del my_dict["subject"]
print("After del:", my_dict)



removed = my_dict.pop("grade")
print("Removed:", removed)
print("After pop:", my_dict)

After del: {'name': 'Alice', 'age': 23, 'city': 'Lagos', 'grade': 'A+'}
Removed: A+
After pop: {'name': 'Alice', 'age': 23, 'city': 'Lagos'}

In [23]:
# 3.5 Step: Dictionary Methods


print("Keys:", my_dict.keys())          # dict_keys(['name', 'age', 'city'])
print("Values:", my_dict.values())      # dict_values(['Alice', 23, 'Lagos'])
print("Items:", my_dict.items())        # dict_items([('name', 'Alice'), ('age', 23), ('city', 'Lagos')])
print("Length:", len(my_dict))          # 3

Keys: dict_keys(['name', 'age', 'city'])
Values: dict_values(['Alice', 23, 'Lagos'])
Items: dict_items([('name', 'Alice'), ('age', 23), ('city', 'Lagos')])
Length: 3

In [24]:
# 3.7 Step 7: Iterate Through Dictionary


# Keys only
for key in my_dict:
    print(key)

for key, value in my_dict.items():
    print(f"{key}: {value}")

name
age
city
name: Alice
age: 23
city: Lagos

In [25]:
# 4 Create and Manipulate Sets
#.4.1 Create a Set


my_set = {10, 20, 30, 40, 50}
print("Original set:", my_set)

Original set: {50, 20, 40, 10, 30}

In [26]:
# 4.2 Step 2: Uniqueness Property



my_set = {1, 2, 3, 2, 4, 3, 5}
print("Set with duplicates:", my_set)

Set with duplicates: {1, 2, 3, 4, 5}

In [51]:
# 4.3: Add Elements

my_set.add(60)
print("After add:", my_set)

# Adding duplicate - no change
my_set.add(3)
print("After adding duplicate:", my_set)

After add: {1, 2, 3, 4, 60}
After adding duplicate: {1, 2, 3, 4, 60}

In [52]:
# 4.4: Remove Elements


# remove() - gives error if not found
my_set.remove(60)
print("After remove:", my_set)

# discard() - no error if not found
my_set.discard(100)  # 100 not in set, no error
print("After discard:", my_set)

After remove: {1, 2, 3, 4}
After discard: {1, 2, 3, 4}

In [49]:
# 4.5: Set Operations

set_a = {1, 2, 3, 4}
set_b = {3, 4, 5, 6}

# Union - combine both
print("Union:", set_a | set_b)

# Intersection - common elements
print("Intersection:", set_a & set_b)

# Difference - in A but not B
print("Difference (A-B):", set_a - set_b)

# Difference - in B but not A
print("Difference (B-A):", set_b - set_a)

Union: {1, 2, 3, 4, 5, 6}
Intersection: {3, 4}
Difference (A-B): {1, 2}
Difference (B-A): {5, 6}

In [30]:
# 4.6: Check Membership

print("Is 3 in set_a?", 3 in set_a)    # True
print("Is 9 in set_a?", 9 in set_a)    # False

Is 3 in set_a? True
Is 9 in set_a? False

In [7]:
# 4.7: Iterate Through Set

colors = {"red", "green", "blue"}

for color in colors:
    print(color)

green
red
blue

In [47]:
# 4.8: Convert Between Set and List

# List to Set (remove duplicates)
my_list = [1, 2, 2, 3, 3, 4]
my_set = set(my_list)
print("List to Set:", my_set)

# Set to List
back_to_list = list(my_set)
print("Set to List:", back_to_list)

List to Set: {1, 2, 3, 4}
Set to List: [1, 2, 3, 4]

In [48]:
my_list = [10, 20, 30, 40, 50]
print("Original list:", my_list)

Original list: [10, 20, 30, 40, 50]

What This MEANS:
Create a list = Make a container to store multiple items in order
append() = Add new item to the end of the list
remove() = Delete a specific item by its value
pop() = Remove item by position (last item if no position given)
Slicing = Extract a portion of the list (like cutting a piece)
Iterate with loops = Go through each item in the list one by one
Create: Write a new list
append(): Add item at bottom
remove(): Cross out "milk"
pop(): Tear off last item
Slicing: Look at only first 3 items
Iterate: Read each item aloud one by one

In [34]:
# 1. overall


cart = ["apple", "banana"]     # Create
cart.append("cherry")          # Add to end → ["apple", "banana", "cherry"]
cart.remove("banana")          # Delete specific → ["apple", "cherry"]
cart.pop()                     # Remove last → ["apple"]

for item in cart:              # Iterate
    print(item)                # Output: apple

apple

In [35]:
# 1.1 List - Adding, Removing, Updating, and Iterating EDA


my_list = [10, 20, 30, 40, 50]
print("Original list:", my_list)

Original list: [10, 20, 30, 40, 50]

In [36]:
# 1.2: Adding Elements


# append() - add to end
my_list.append(60)
print("After append:", my_list)

# insert() - add at specific position
my_list.insert(2, 25)
print("After insert at index 2:", my_list)

After append: [10, 20, 30, 40, 50, 60]
After insert at index 2: [10, 20, 25, 30, 40, 50, 60]

In [55]:
# 1.3 Step 3: Removing Elements



my_list = [10, 20, 25, 30, 40, 50, 60]

# remove() - remove specific value
my_list.remove(25)
print("After remove(25):", my_list)

# pop() - remove by index (last by default)
my_list.pop()
print("After pop():", my_list)

my_list.pop(1)
print("After pop(1):", my_list)

After remove(25): [10, 20, 30, 40, 50, 60]
After pop(): [10, 20, 30, 40, 50]
After pop(1): [10, 30, 40, 50]

In [45]:
# 1.4: Updating Elements

# Update by index
my_list[0] = 15
print("After updating index 0:", my_list)

my_list[2] = 45
print("After updating index 2:", my_list)

After updating index 0: [15, 30, 45, 50]
After updating index 2: [15, 30, 45, 50]

In [46]:
# 1.5: Slicing


numbers = [1, 2, 3, 4, 5, 6, 7, 8]

print("First 3:", numbers[:3])       # [1, 2, 3]
print("Last 3:", numbers[-3:])       # [6, 7, 8]
print("Middle:", numbers[2:6])       # [3, 4, 5, 6]
print("Every 2nd:", numbers[::2])    # [1, 3, 5, 7]

First 3: [1, 2, 3]
Last 3: [6, 7, 8]
Middle: [3, 4, 5, 6]
Every 2nd: [1, 3, 5, 7]

In [54]:
# 1.6: Iterate Using Loops

fruits = ["apple", "banana", "cherry"]

# For loop
for fruit in fruits:
    print(fruit)

# With index and enumerate
for i, fruit in enumerate(fruits):
    print(f"{i}: {fruit}")

# Using range
for i in range(len(fruits)):
    print(f"Index {i} = {fruits[i]}")

apple
banana
cherry
0: apple
1: banana
2: cherry
Index 0 = apple
Index 1 = banana
Index 2 = cherry

Perform operations like adding, removing, and updating elements: Tuple Operations:
❌ Cannot add elements (no append, insert)
❌ Cannot remove elements (no remove, pop)
❌ Cannot update elements (no tuple[0] = value)
✅ Can access elements (indexing, slicing)
✅ Can unpack into variables
✅ Can concat

In [56]:
# 1: Create a Tuple

my_tuple = (10, 20, 30, 40, 50)
print("Original tuple:", my_tuple)

Original tuple: (10, 20, 30, 40, 50)

In [58]:
# 1.2: Access Tuple Elements

# Indexing
print("First:", my_tuple[0])
print("Last:", my_tuple[-1])
print("Third:", my_tuple[2])

# Slicing
print("First 3:", my_tuple[:3])
print("Last 2:", my_tuple[-2:])
print("Middle:", my_tuple[1:4])

First: 10
Last: 50
Third: 30
First 3: (10, 20, 30)
Last 2: (40, 50)
Middle: (20, 30, 40)

In [63]:
# 1.3: Understand Immutability



# Tuples CANNOT be changed after creation

# This will cause ERROR:
# my_tuple[0] = 15           # TypeError!
# my_tuple.append(60)        # AttributeError!
# my_tuple.remove(20)        # AttributeError!

print("Tuples are IMMUTABLE - cannot add, remove, or update!")

# To "change" a tuple, create a new one
new_tuple = (15, 20, 30, 40, 50)
print("New tuple:", new_tuple)

Tuples are IMMUTABLE - cannot add, remove, or update!
New tuple: (15, 20, 30, 40, 50)

In [64]:
# 1.4: Tuple Unpacking

# Unpack into variables
person = ("Alice", 25, "Engineer")
name, age, job = person

print("Name:", name)    # Alice
print("Age:", age)      # 25
print("Job:", job)      # Engineer

# Unpacking with * (rest)
numbers = (1, 2, 3, 4, 5)
first, second, *rest = numbers

print("First:", first)       # 1
print("Second:", second)     # 2
print("Rest:", rest)         # [3, 4, 5]

# Swap values using tuples
a = 10
b = 20
a, b = b, a
print("a:", a, "b:", b)  # a: 20 b: 10

Name: Alice
Age: 25
Job: Engineer
First: 1
Second: 2
Rest: [3, 4, 5]
a: 20 b: 10

In [65]:
# 1.5: Tuple Operations

# Concatenation
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
combined = tuple1 + tuple2
print("Combined:", combined)

# Repetition
repeated = (1, 2) * 3
print("Repeated:", repeated)


# Length
print("Length:", len(my_tuple))  # 5

# Check membership
print("Is 30 in tuple?", 30 in my_tuple)  # True

Combined: (1, 2, 3, 4, 5, 6)
Repeated: (1, 2, 1, 2, 1, 2)
Length: 5
Is 30 in tuple? True

In [62]:
#  6: Iterate Over Tuple

colors = ("red", "green", "blue")

for color in colors:
    print(color)


# With index
for i in range(len(colors)):
    print(f"Index {i}: {colors[i]}")

red
green
blue
Index 0: red
Index 1: green
Index 2: blue

Perform operations like adding, removing, and updating elements: Dictionary Operations:
✅ Add: dict[key] = value
✅ Update: dict[key] = new_value or dict.update()
✅ Remove: del dict[key], dict.pop(key), dict.popitem()
✅ Access: dict[key] or dict.get(key)
✅ Iterate: for key, value in dict.items()

In [66]:
# 1: Create a Dictionary


my_dict = {"name": "John", "age": 25, "city": "Lagos"}
print("Original dictionary:", my_dict)

Original dictionary: {'name': 'John', 'age': 25, 'city': 'Lagos'}

In [67]:
# 1.2: Access Elements


print("Name:", my_dict["name"])              # John
print("Age:", my_dict.get("age"))            # 25
print("Country:", my_dict.get("country", "Not Found"))  # Not Found

Name: John
Age: 25
Country: Not Found

In [68]:
# 1.3: Adding Key-Value Pairs

# Method 1: Direct assignment
my_dict["job"] = "Engineer"
print("After adding job:", my_dict)

# Add multiple
my_dict["country"] = "Nigeria"
my_dict["salary"] = 50000
print("After adding more:", my_dict)

After adding job: {'name': 'John', 'age': 25, 'city': 'Lagos', 'job': 'Engineer'}
After adding more: {'name': 'John', 'age': 25, 'city': 'Lagos', 'job': 'Engineer', 'country': 'Nigeria', 'salary': 50000}

In [70]:
# 1.4: Updating Key-Value Pairs


# Update single value
my_dict["age"] = 26
print("After updating age:", my_dict)

# Update multiple using update()
my_dict.update({"city": "Abuja", "salary": 60000})
print("After update():", my_dict)

After updating age: {'name': 'John', 'age': 26, 'city': 'Abuja', 'job': 'Engineer', 'country': 'Nigeria', 'salary': 60000}
After update(): {'name': 'John', 'age': 26, 'city': 'Abuja', 'job': 'Engineer', 'country': 'Nigeria', 'salary': 60000}

In [71]:
# 1.5: Removing Key-Value Pairs


# Method 1: del
del my_dict["salary"]
print("After del salary:", my_dict)

# Method 2: pop()
removed_country = my_dict.pop("country")
print("Removed:", removed_country)  # Nigeria
print("After pop:", my_dict)

# Method 3: popitem() - removes last item
last_item = my_dict.popitem()
print("Last item removed:", last_item)  # ('job', 'Engineer')
print("After popitem:", my_dict)

After del salary: {'name': 'John', 'age': 26, 'city': 'Abuja', 'job': 'Engineer', 'country': 'Nigeria'}
Removed: Nigeria
After pop: {'name': 'John', 'age': 26, 'city': 'Abuja', 'job': 'Engineer'}
Last item removed: ('job', 'Engineer')
After popitem: {'name': 'John', 'age': 26, 'city': 'Abuja'}

In [72]:
#  1.6: Iterate Through Dictionary


student = {"name": "Alice", "age": 22, "grade": "A"}

# Iterate over keys
print("Keys:")
for key in student:
    print(key)

# Iterate over values
print("Values:")
for value in student.values():
    print(value)

# Iterate over key-value pairs
print("Key-Value pairs:")
for key, value in student.items():
    print(f"{key}: {value}")

Keys:
name
age
grade
Values:
Alice
22
A
Key-Value pairs:
name: Alice
age: 22
grade: A

In [74]:
# 1.7: Dictionary Methods


print("Keys:", student.keys())          # dict_keys(['name', 'age', 'grade'])
print("Values:", student.values())      # dict_values(['Alice', 22, 'A'])
print("Items:", student.items())        # dict_items([('name', 'Alice'), ('age', 22), ('grade', 'A')])
print("Length:", len(student))          # 3

# Check if key exists
print("Is 'name' a key?", "name" in student)  # True
print("Is 'city' a key?", "city" in student)  # False

Keys: dict_keys(['name', 'age', 'grade'])
Values: dict_values(['Alice', 22, 'A'])
Items: dict_items([('name', 'Alice'), ('age', 22), ('grade', 'A')])
Length: 3
Is 'name' a key? True
Is 'city' a key? False


Perform operations like adding, removing, and updating elements:
Create a set and perform operations like union, intersection, and difference, Understand the uniqueness property of sets.
*italicized text
✅ Add: set.add(item), set.update([items])
✅ Remove: set.remove(item), set.discard(item), set.pop()
❌ Update: Not possible (no indexing)
✅ Union: set_a | set_b (all elements)
✅ Intersection: set_a & set_b (common elements)
✅ Difference: set_a - set_b (in A not B)
✅ Uniqueness: Automatically removes duplicates

In [78]:
# 1: Create a Set


my_set = {10, 20, 30, 40, 50}
print("Original set:", my_set)

Original set: {50, 20, 40, 10, 30}

In [79]:
# 1.2: Understand Uniqueness Property

# Sets automatically remove duplicates
duplicate_set = {1, 2, 3, 2, 4, 3, 5, 1}
print("Set removes duplicates:", duplicate_set)

# Convert list to set to remove duplicates
my_list = [1, 2, 2, 3, 3, 4]
unique_set = set(my_list)
print("Unique elements:", unique_set)

Set removes duplicates: {1, 2, 3, 4, 5}
Unique elements: {1, 2, 3, 4}

In [80]:
# 1.3: Adding Elements

my_set.add(60)
print("After add(60):", my_set)

# Adding duplicate - no change
my_set.add(30)
print("After add(30) duplicate:", my_set)

# Add multiple using update()
my_set.update([70, 80])
print("After update:", my_set)

After add(60): {50, 20, 40, 10, 60, 30}
After add(30) duplicate: {50, 20, 40, 10, 60, 30}
After update: {80, 50, 20, 70, 40, 10, 60, 30}

In [81]:
# 1.4: Removing Elements


# remove() - error if not found
my_set.remove(80)
print("After remove(80):", my_set)

# discard() - no error if not found
my_set.discard(100)  # 100 not in set
print("After discard(100):", my_set)

# pop() - remove random element
removed = my_set.pop()
print("Popped:", removed)
print("After pop:", my_set)

After remove(80): {50, 20, 70, 40, 10, 60, 30}
After discard(100): {50, 20, 70, 40, 10, 60, 30}
Popped: 50
After pop: {20, 70, 40, 10, 60, 30}

In [82]:
# 1.5: Updating Elements


# Sets have NO indexing - cannot update specific element
# Must remove old and add new

my_set.remove(20)
my_set.add(25)
print("After replacing 20 with 25:", my_set)

After replacing 20 with 25: {70, 40, 10, 25, 60, 30}

In [83]:
#  1.6: Union - Combine Sets


set_a = {1, 2, 3, 4}
set_b = {3, 4, 5, 6}

# Method 1: Using |
union_set = set_a | set_b
print("Union (|):", union_set)

# Method 2: Using union()
union_set2 = set_a.union(set_b)
print("Union (method):", union_set2)

Union (|): {1, 2, 3, 4, 5, 6}
Union (method): {1, 2, 3, 4, 5, 6}

In [84]:
# 1.7: Intersection - Common Elements


set_a = {1, 2, 3, 4}
set_b = {3, 4, 5, 6}

# Method 1: Using &
intersection_set = set_a & set_b
print("Intersection (&):", intersection_set)

# Method 2: Using intersection()
intersection_set2 = set_a.intersection(set_b)
print("Intersection (method):", intersection_set2)

Intersection (&): {3, 4}
Intersection (method): {3, 4}

In [85]:
# 1.8: Difference - Elements in A but not B


set_a = {1, 2, 3, 4}
set_b = {3, 4, 5, 6}

# Method 1: Using -
difference_set = set_a - set_b
print("Difference A-B (-):", difference_set)

difference_set2 = set_b - set_a
print("Difference B-A (-):", difference_set2)

# Method 2: Using difference()
diff = set_a.difference(set_b)
print("Difference (method):", diff)

Difference A-B (-): {1, 2}
Difference B-A (-): {5, 6}
Difference (method): {1, 2}

In [86]:
# 1.9: Other Set Operations


set_a = {1, 2, 3, 4}
set_b = {3, 4, 5, 6}

# Symmetric Difference - elements in either but not both
sym_diff = set_a ^ set_b
print("Symmetric Difference:", sym_diff)

# Check subset
set_c = {1, 2}
print("Is C subset of A?", set_c.issubset(set_a))  # True

# Check superset
print("Is A superset of C?", set_a.issuperset(set_c))  # True

Symmetric Difference: {1, 2, 5, 6}
Is C subset of A? True
Is A superset of C? True

In [8]:
# 10: Iterate Through Set

colors = {"red", "green", "blue"}

for color in colors:
    print(color)

green
red
blue

. Conditional Statements:
Implement if-else conditions for decision-making.
Use nested if-else conditions for complex logic.
break:

Exits loop completely
Use when target found or condition met

continue:

Skips current iteration only
Use to skip unwanted items

if-else:

Makes decisions based on conditions
Nested for complex multi-level log

In [88]:
# 1: Basic if-else


age = 18

if age >= 18:
    print("You are an adult")
else:
    print("You are a minor")

You are an adult

In [89]:
# 1.2: if-elif-else

score = 85

if score >= 90:
    print("Grade: A")
elif score >= 80:
    print("Grade: B")
elif score >= 70:
    print("Grade: C")
elif score >= 60:
    print("Grade: D")
else:
    print("Grade: F")

Grade: B

In [90]:
# 1.3: Nested if-else (Complex Logic)


age = 25
has_license = True

if age >= 18:
    if has_license:
        print("You can drive")
    else:
        print("You need a license")
else:
    print("You are too young to drive")

You can drive

In [91]:
#  1.4: Multiple Conditions (AND/OR)


# AND - both must be true
username = "admin"
password = "1234"

if username == "admin" and password == "1234":
    print("Login successful")
else:
    print("Invalid credentials")

# OR - at least one must be true
day = "Saturday"

if day == "Saturday" or day == "Sunday":
    print("Weekend!")
else:
    print("Weekday")

Login successful
Weekend!

In [95]:
#  1.5: Complex Nested Logic


age = 30
income = 60000
credit_score = 700

if age >= 18:
    if income >= 50000:
        if credit_score >= 650:
            print("Loan approved - Premium rate")
        else:
            print("Loan approved - Standard rate")
    else:
        print("Income too low")
else:
    print("Age requirement not met")

Loan approved - Premium rate

In [93]:
# 1.6: Combining break/continue with Conditionals


# break with if
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]

for num in numbers:
    if num > 5:
        print("Stopping at", num)
        break
    print(num)

# continue with if
for num in numbers:
    if num % 2 == 0:
        continue  # Skip even
    if num > 7:
        break     # Stop after 7
    print(num)

1
2
3
4
5
Stopping at 6
1
3
5
7

In [94]:
# 1.7: Real-World Example

# Student grade system with attendance
students = [
    {"name": "Alice", "score": 85, "attendance": 90},
    {"name": "Bob", "score": 92, "attendance": 70},
    {"name": "Charlie", "score": 78, "attendance": 95}
]

for student in students:
    if student["attendance"] < 75:
        print(f"{student['name']}: Insufficient attendance")
        continue

    if student["score"] >= 90:
        grade = "A"
    elif student["score"] >= 80:
        grade = "B"
    elif student["score"] >= 70:
        grade = "C"
    else:
        grade = "F"

    print(f"{student['name']}: Grade {grade}")

Alice: Grade B
Bob: Insufficient attendance
Charlie: Grade C

Perform operations like adding, removing, and updating elements: Looping Constructs:
Use for loops to iterate over lists, tuples, and dictionaries.
Use while loops for repeating tasks.
Implement break and continue statements to control loops.


For Loops:
✅ Iterate over lists, tuples, dictionaries
✅ Add/remove/update elements during iteration
While Loops:
✅ Repeat tasks until condition false
✅ Useful for unknown iteration count
break:
✅ Exit loop immediately
continue:
✅ Skip current iteration, move to next

In [96]:
# PART1 1: For Loops

# 1.1Adding elements using loop
numbers = [1, 2, 3]
new_items = [4, 5, 6]

for item in new_items:
    numbers.append(item)
print("After adding:", numbers)

# Removing elements using loop
to_remove = [2, 5]
for item in to_remove:
    numbers.remove(item)
print("After removing:", numbers)

# Updating elements using loop
for i in range(len(numbers)):
    numbers[i] = numbers[i] * 2
print("After updating:", numbers)

After adding: [1, 2, 3, 4, 5, 6]
After removing: [1, 3, 4, 6]
After updating: [2, 6, 8, 12]

In [97]:
# 1.2: For Loop - Iterate Over Tuple

my_tuple = (10, 20, 30, 40)

# Iterate and access
for value in my_tuple:
    print(value)

# With index
for i in range(len(my_tuple)):
    print(f"Index {i}: {my_tuple[i]}")

10
20
30
40
Index 0: 10
Index 1: 20
Index 2: 30
Index 3: 40

In [98]:
# 1.3: For Loop - Iterate Over Dictionary

student = {"name": "Alice", "age": 22, "grade": "A"}

# Adding using loop
new_data = {"city": "Lagos", "course": "CS"}
for key, value in new_data.items():
    student[key] = value
print("After adding:", student)

# Updating using loop
updates = {"age": 23, "grade": "A+"}
for key, value in updates.items():
    student[key] = value
print("After updating:", student)

# Iterate over keys
for key in student:
    print(key)

# Iterate over key-value pairs
for key, value in student.items():
    print(f"{key}: {value}")

After adding: {'name': 'Alice', 'age': 22, 'grade': 'A', 'city': 'Lagos', 'course': 'CS'}
After updating: {'name': 'Alice', 'age': 23, 'grade': 'A+', 'city': 'Lagos', 'course': 'CS'}
name
age
grade
city
course
name: Alice
age: 23
grade: A+
city: Lagos
course: CS

In [100]:
#PART2 2.1: While Loop - Repeating Tasks

# Basic while loop
count = 1
while count <= 5:
    print("Count:", count)
    count += 1

# Adding to list with while
numbers = []
i = 1
while i <= 5:
    numbers.append(i * 10)
    i += 1
print("Numbers:", numbers)

Count: 1
Count: 2
Count: 3
Count: 4
Count: 5
Numbers: [10, 20, 30, 40, 50]

In [104]:
# 2.2: While Loop - Removing Elements

# Remove all even numbers
numbers = [1, 2, 3, 4, 5, 6, 7, 8]
i = 0

while i < len(numbers):
    if numbers[i] % 2 == 0:
        numbers.pop(i)
    else:
        i += 1
print("Odd numbers only:", numbers)

Odd numbers only: [1, 3, 5, 7]

In [105]:
# 2.3: While Loop - Updating Elements


# Double all values
values = [5, 10, 15, 20]
i = 0

while i < len(values):
    values[i] = values[i] * 2
    i += 1
print("Doubled values:", values)

Doubled values: [10, 20, 30, 40]

In [106]:
# Part 3: Break and Continue in Loops
# 3.1: break - Exit Loop Early


# For loop with break
for i in range(10):
    if i == 5:
        print("Breaking at 5")
        break
    print(i)

# While loop with break
count = 0
while True:
    print(count)
    count += 1
    if count == 3:
        break

0
1
2
3
4
Breaking at 5
0
1
2

In [107]:
# 3.2: continue - Skip Iteration


# For loop with continue - skip even numbers
for i in range(10):
    if i % 2 == 0:
        continue
    print(i)

# While loop with continue
count = 0
while count < 10:
    count += 1
    if count % 2 == 0:
        continue
    print(count)

1
3
5
7
9
1
3
5
7
9

In [108]:
# 3.3: Combining Operations with break/continue


# Add elements until condition met
numbers = []
for i in range(1, 20):
    if i % 2 == 0:
        continue  # Skip even
    numbers.append(i)
    if len(numbers) == 5:
        break  # Stop after 5 items
print("Numbers:", numbers)

# Remove specific items
items = [1, 2, 3, 4, 5, 6, 7, 8]
for item in items[:]:  # Iterate over copy
    if item > 5:
        break
    if item % 2 == 0:
        items.remove(item)
print("Final items:", items)

Numbers: [1, 3, 5, 7, 9]
Final items: [1, 3, 5, 6, 7, 8]

In [ ]:
# 3.4: Real-World Example

In [109]:
# Shopping cart with budget limit
cart = []
prices = [10, 25, 15, 30, 20, 40]
budget = 70
total = 0

for price in prices:
    if price > 35:
        continue  # Skip expensive items

    if total + price > budget:
        print("Budget limit reached")
        break

    cart.append(price)
    total += price

print("Cart:", cart)
print("Total spent:", total)

Budget limit reached
Cart: [10, 25, 15]
Total spent: 50

Data Exploration:
Create and manipulate Lists, Tuples, Dictionaries, and Sets.
Use indexing and slicing to access elements.
Perform operations like adding, removing, and updating elements.

✅ Task 1: Find largest number - Loop iteration
✅ Task 2: Count frequency - Dictionary manipulation
✅ Task 3: Highest marks - Dictionary + conditionals
✅ Task 4: Fibonacci - While loop control
✅ Task 5: Remove duplicates - Set operations
Data structures used:

Lists (mutable, ordered, indexing)
Tuples (immutable, ordered, unpacking)
Dictionaries (key-value, mutable)
Sets (unique, unordered, operations)

In [111]:
# All operations combined

# 1. List operations
print("=== LIST OPERATIONS ===")
my_list = [10, 20, 30]
my_list.append(40)           # Add
my_list.remove(20)           # Remove
my_list[0] = 15              # Update
print("List:", my_list[1:])  # Slice

# 2. Tuple operations
print("\n=== TUPLE OPERATIONS ===")
my_tuple = (1, 2, 3, 4, 5)
print("First 3:", my_tuple[:3])    # Slice
a, b, *rest = my_tuple             # Unpack
print("Unpacked - a:", a, "rest:", rest)

# 3. Dictionary operations
print("\n=== DICTIONARY OPERATIONS ===")
my_dict = {"x": 10, "y": 20}
my_dict["z"] = 30            # Add
my_dict["x"] = 15            # Update
del my_dict["y"]             # Remove
print("Dictionary:", my_dict)

# 4. Set operations
print("\n=== SET OPERATIONS ===")
set_a = {1, 2, 3, 4}
set_b = {3, 4, 5, 6}
set_a.add(10)                # Add
set_a.remove(10)             # Remove
print("Union:", set_a | set_b)
print("Intersection:", set_a & set_b)
print("Difference:", set_a - set_b)

=== LIST OPERATIONS ===
List: [30, 40]

=== TUPLE OPERATIONS ===
First 3: (1, 2, 3)
Unpacked - a: 1 rest: [3, 4, 5]

=== DICTIONARY OPERATIONS ===
Dictionary: {'x': 15, 'z': 30}

=== SET OPERATIONS ===
Union: {1, 2, 3, 4, 5, 6}
Intersection: {3, 4}
Difference: {1, 2}

Data Exploration + Problem-Solving Tasks

In [1]:
# Problem 1: Find Largest Number in List

# Create list
numbers = [45, 78, 12, 89, 34, 23, 67]
print("List:", numbers)

# Find largest
largest = numbers[0]
for num in numbers:
    if num > largest:
        largest = num

print("Largest number:", largest)

List: [45, 78, 12, 89, 34, 23, 67]
Largest number: 89

In [2]:
# Problem 2: Count Frequency of Elements

# Create list with duplicates
items = [1, 2, 3, 2, 4, 1, 5, 2, 3, 1, 4, 2]
print("List:", items)

# Count frequency using dictionary
frequency = {}

for item in items:
    if item in frequency:
        frequency[item] += 1
    else:
        frequency[item] = 1

print("Frequency:", frequency)

# Display
for item, count in frequency.items():
    print(f"{item} appears {count} times")

List: [1, 2, 3, 2, 4, 1, 5, 2, 3, 1, 4, 2]
Frequency: {1: 3, 2: 4, 3: 2, 4: 2, 5: 1}
1 appears 3 times
2 appears 4 times
3 appears 2 times
4 appears 2 times
5 appears 1 times

In [3]:
# Problem 3: Dictionary - Find Student with Highest Marks


# Create dictionary
students = {
    "Alice": 85,
    "Bob": 92,
    "Charlie": 78,
    "Diana": 95,
    "Eve": 88
}

print("Students and Marks:")
for name, marks in students.items():
    print(f"{name}: {marks}")

# Find highest marks
top_student = ""
highest_marks = 0

for name, marks in students.items():
    if marks > highest_marks:
        highest_marks = marks
        top_student = name

print(f"\nTop Student: {top_student}")
print(f"Highest Marks: {highest_marks}")

Students and Marks:
Alice: 85
Bob: 92
Charlie: 78
Diana: 95
Eve: 88

Top Student: Diana
Highest Marks: 95

In [4]:
# Problem 4: Fibonacci Series Using While Loop


# Print Fibonacci up to given number
limit = 50

a = 0
b = 1

print(f"Fibonacci series up to {limit}:")
print(a, end=" ")

while b <= limit:
    print(b, end=" ")
    a, b = b, a + b

print()

Fibonacci series up to 50:
0 1 1 2 3 5 8 13 21 34

In [5]:
# Problem 5: Remove Duplicates Using Set


# Create list with duplicates
numbers = [1, 2, 3, 2, 4, 1, 5, 3, 6, 4, 2, 7]
print("Original list:", numbers)
print("Length:", len(numbers))

# Remove duplicates using set
unique_numbers = list(set(numbers))
print("\nAfter removing duplicates:", unique_numbers)
print("Length:", len(unique_numbers))

Original list: [1, 2, 3, 2, 4, 1, 5, 3, 6, 4, 2, 7]
Length: 12

After removing duplicates: [1, 2, 3, 4, 5, 6, 7]
Length: 7